<h1>Comments#index</h1>



<div id="contents">

<div id="main">

<section>

<h2>ここに見出しを入れます</h2>

<div class="list">
<a href="gallery2.html">
<figure><img src="images/sample1.jpg" alt="タイトル"></figure>
<h4>タイトル</h4>
<p>ここに説明を入れます。サンプルテキスト。</p>
</a>
</div>

<div class="list">
<a href="gallery2.html">
<figure><img src="images/sample1.jpg" alt="タイトル"></figure>
<h4>タイトル</h4>
<p>ここに説明を入れます。サンプルテキスト。</p>
<span class="option1">おすすめ</span>
</a>
</div>

<div class="list">
<a href="gallery2.html">
<figure><img src="images/sample1.jpg" alt="タイトル"></figure>
<h4>タイトル</h4>
<p>ここに説明を入れます。サンプルテキスト。</p>
<span class="option2">SOLD OUT</span>
</a>
</div>

</section>

</div>
<!--/main-->

<div id="sub">

<nav>
<h2>Contents</h2>
<ul class="submenu">
<li><a href="#">メニュー</a></li>
<li><a href="#">メニュー</a></li>
<li><a href="#">メニュー</a></li>
<li><a href="#">メニュー</a></li>
<li><a href="#">メニュー</a></li>
</ul>
</nav>

<section class="box">

<h2>PICKUP</h2>

<div class="list">
<a href="gallery2.html">
<figure><img src="images/sample1.jpg" alt="タイトル"></figure>
<h4>タイトル</h4>
<p>ここに説明を入れます。サンプルテキスト。</p>
</a>
</div>

<div class="list">
<a href="gallery2.html">
<figure><img src="images/sample1.jpg" alt="タイトル"></figure>
<h4>タイトル</h4>
<p>ここに説明を入れます。サンプルテキスト。</p>
</a>
</div>

<div class="list">
<a href="gallery2.html">
<figure><img src="images/sample1.jpg" alt="タイトル"></figure>
<h4>タイトル</h4>
<p>ここに説明を入れます。サンプルテキスト。</p>
<span class="option1">おすすめ</span>
</a>
</div>

<div class="list">
<a href="gallery2.html">
<figure><img src="images/sample1.jpg" alt="タイトル"></figure>
<h4>タイトル</h4>
<p>ここに説明を入れます。サンプルテキスト。</p>
<span class="option2">ご契約済</span>
</a>
</div>

</section>

</div>
<!--/#sub-->

</div>
